div{
    width: 200px;
    height: 300px;
}

.divsticky{
    background-color: aqua;
    position: sticky;
    top: 0px;
    left: 400px;
}
.divrelative{
    background-color: blue;
    position: relative;
    top: 120px;
    left: 300px;
}
.divfixed{
    background-color: chocolate;
    position: fixed;
    top: 500px;
    left: 700px;
}
.divstatic{
    background-color: blueviolet;
    position: static;
    top: 300px;
    left: 300px;
}
.divabsolute{
    background-color: darkcyan;
    position: absolute;
    top: 80px;
    left: 30px;
}
.divAligncenter{
    background-color: brown;
    margin: 0 auto;
}
.divAlignright{
    background-color: darkgreen;
    float: left;
}
.logounipar{
    height: 40px;
    margin: 5px 5px 5px 5px;
}