h1{
    font-size: 120px;
    color:  green;
    background-color: black;
    font-family: arial, helvetica, sans-serif
} 
.titulo{
    font-family: 'courier new', 'Courier New', Courier, monospace;
}
table{
    
    border-collapse: collapse;
    
}
td{
    border: 1px solid black;
}